<h1> Even thought you can click enroll, you will not actually see the class contents until you are manually admitted to the beta</h1>
<section class="about">
  <h2>About This Course</h2>
  <p> This is it! This is the class that *actually* teaches you how to exploit a race condition vulnerability leading to a use-after-free in the Kernel Transaction Manager (KTM) component of the Windows kernel. This class is meant to show the approach an exploit developer should take in attacking a previously unknown component in the Windows kernel.</p>
  <p>The class is primarily focused around labs to teach the students what it takes to exploit a real-world vulnerability.</p>
  <p>This class focuses on exploiting CVE-2018-8611 on Windows 10 x64 1809 (RS5), a complex race condition that leads to a use-after-free on the non-paged kernel pool. The vulnerability is in the Kernel Transaction Manager (KTM) driver (`tm.sys`), a component that has not yet received much public scrutiny.</p>
  <p>Even though students will learn a lot about the KTM component, we focus on our approach for analyzing this component as a new kernel component that we had no prior knowledge about. The methodology can be reused for any other unknown kernel components a student may encounter in the future. We do not specifically focus on tricks or techniques for bypassing specific Windows versions mitigations, but rather on the thought process behind exploring functionality to find useful unmitigated code paths and also abusing the bug in ways that allow to build powerful primitives that would facilitate mitigation bypasses.</p>
<p></p>
After this class, you'll know what it takes to develop an exploit targeting the Windows kernel.
<p></p>
<br>Key learning objectives:</br>
<br>• Modern reverse engineering and binary patch diffing</br>
<br>• How to approach exploiting a vulnerability on a previously unknown target</br>
<br>• Step-by-step real-world Windows kernel exploit on Windows 10 1809 (RS5) x64</br>
  <p></p>
<br>At the end of the class, you'll have a working exploit to elevate your own process to SYSTEM privileges.</br>

</section>

<section class="prerequisites">
  <h2>Requirements</h2>
  <br>• Comfortable with x86/x64 assembly and reversing it</br>
  <br>• C knowledge (reading/writing)</br>
  <br>• Exploitation experience on some OS like Windows or Linux</br>
  <br>• Familiarity with common memory corruption techniques</br>
  <br>• Comfortable with disassemblers/decompilers (IDA, Ghidra, etc) and debuggers (WinDbg, x64dbg, gdb, etc)</br>
  <p>You must have taken OST2 <a href="https://beta.ost2.fyi/courses/course-v1:OpenSecurityTraining2+Dbg3011_Advanced_WinDbg+2022_V1/about">Debuggers 3011</a> since we use the environment as a base for debugging/exploitation.</p>
  <p>You must have taken OST2 <a href="https://beta.ost2.fyi/courses/course-v1:OpenSecurityTraining2+Arch2021_Windows_OS_Internals_2+2022_V1/about">Architecture 2021</a>, or have equivalent knowledge of Windows internals.</p>
</section>

<section class="faq">
  <section class="responses">
    <h2>Frequently Asked Questions</h2>
    <article class="response">
      <h3>What learning paths is this class used in?</h3>
      <p>Debugging, Reverse Engineering, Exploits</p>
    </article>

    <article class="response">
      <h3>To <i>be</i> or not to <i>be</i>?</h3>
      <p>That <i>is</i> the question...</p>
    </article>
  </section>
</section>

<section class="course-staff">
  <h2>Course Staff</h2>
  <article class="teacher">
    <div class="teacher-image">
      <img src="https://beta.ost2.fyi/asset-v1:OpenSecurityTraining2+Exp4011_Windows_Kernel_UAF_KTM+2022_V1+type@asset+block@photo_CHalbronn.png" align="left" style="margin:0 20 px 0" alt="Cedric's Twitter Pic!">
    </div>

    <h3>Cedric Halbronn</h3>
    <p>Cedric (<a href="https://twitter.com/saidelike">@saidelike</a>) specialises in vulnerability research and exploit development, and while at NCC Group working in the Exploit Development Group (EDG) has published some public research related to Cisco ASA, Windows kernel, NAS devices, printers, etc.</p>
  </article>

</section>